.tris{
	background-color:yellow;
}

.x{  
color:green;
}

.o{
	color:red;
}

.table2{
	background-color:cyan;
}

.table3{
	background-color:white;
	color:blue;
}

.table4{
	background-color:grey;
	color:blue;
}