.titolo{
	color:white;
	background-color:rgb(251 134 65);

}

.btn{
	background-color:rgb(251 134 65);
	color:white;
}

.sfondo{
	background-color:rgb(254 243 234);
}

table{
	font-family:arial;
	border-color:#FF8000;
}

h5{
	color:rgb(251 134 65);
	text-align:left;
}